<% layout('layouts/boilerplate.ejs') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%=camp._id%>?_method=PUT "
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Campground Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          value="<%=camp.title %> "
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Campground Location</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          value="<%= camp.location %> "
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description"
          >Campground Description</label
        >
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
          required
        >
        <%=camp.description%>
        </textarea>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            name="campground[price]"
            id="price"
            value="<%= camp.price %> "
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Add Images</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="image"
          multiple
        />
      </div>

      <div class="mb-3">
        <%camp.images.forEach((img, i)=>{%>

        <div class="form-check-inline">
          <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="" />
          <label for="image-<%=i%>" class="btn btn-danger"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
              /></svg
          ></label>
          <input
            type="checkbox"
            name="deleteImages[]"
            id="image-<%=i%>"
            value="<%=img.filename%>"
          />
        </div>
        <% }) %>
      </div>

      <div class="mb-3">
        <a class="btn btn-danger" href="/campgrounds">Cancel</a>
        <button class="btn btn-success" type="submit">Edit Campground</button>
      </div>
    </form>
  </div>
</div>
