<% layout('layouts/boilerplate.ejs') %>
<h1>All Campgrounds</h1>

<!-- Navegação -->
<a href="/campgrounds/new">Create a New Campground</a>
<a href="/">Back to Home</a>

<!-- Não esquecer de declarar no res.render a variável campgrounds pois caso contrários a mesma não será utilizada dentro do for para ser iterada.  -->
<% for (let campground of campgrounds){%>
<!-- Exemplo antes de utilizar o link para acesso aos acampamentos -->
<!-- <li><%=campground.title%></li> -->
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" alt="campground" src="<%=campground.image %> " />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=campground.title %></h5>
        <p class="card-text"><%=campground.description%></p>
        <p class="text-muted"><%=campground.location%></p>
        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%> "
          >View <%=campground.title%></a
        >
      </div>
    </div>
  </div>
</div>

<!-- Após transformar num link, verificamos se está corretamente funcionando ao clicar e renderizar a página -->
<%}%>
