<% layout('layouts/boilerplate.ejs') %>
<section class="hero container container--px">
  <div cluster-map id="cluster-map"></div>
  <div BG id="BG" class="hero-image"></div>
  <button viewMap type="button" class="hero-button button3" id="viewMap">
    View Global Map
  </button>
</section>
<!-- <a class="button3" href="/campgrounds/map">Hide Global Map</a> -->
<div class="container container--pall">
  <h1 class="mb-5">All Campgrounds</h1>

  <!-- Nav -->
  <a class="button" href="/campgrounds/new">Create a New Campground</a>
  <a class="button2" href="/">Back to Home</a>

  <div class="containerCard">
    <% for (let campground of campgrounds){%>
    <div id="card-index" class="card">
      <div class="content">
        <div>
          <% if(campground.images.length) {%>
          <img
            alt="campground"
            src="<%=campground.images[0].url%> "
            crossorigin="anonymous"
          />
          <% } else {%>

          <img
            alt="campground"
            src=" https://res.cloudinary.com/marlonmelo/image/upload/v1646247986/YelpCamp/siubdsmkz0efoybjtlyg.jpg"
            crossorigin="anonymous"
          />
          <% } %>
        </div>
        <div>
          <div>
            <h5><%=campground.title %></h5>
            <p><%=campground.description.substring(0,50)%> ...</p>
            <p><%=campground.location%></p>
            <a href="/campgrounds/<%=campground._id%> "
              >View <%=campground.title.substring(0,20)%> ...</a
            >
          </div>
        </div>
      </div>
    </div>

    <%}%>
  </div>
</div>

<!-- Script to config the access token for MapBox -->
<script crossorigin="anonymous">
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campgrounds = {features: <%-JSON.stringify(campgrounds)%>}
</script>

<script src="/js/mapBtn.js" crossorigin="anonymous"></script>
<script src="/js/clusterMap.js" crossorigin="anonymous"></script>
<script src="/js/vanilla-tilt.js" crossorigin="anonymous"></script>

<script>
  VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 25,
    speed: 400,
    glare: false,
    "max-glare": 1,
  });
</script>
