<% layout('layouts/boilerplate.ejs') %>
<h1 class="mb-5">All Campgrounds</h1>

<!-- Nav -->
<a class="btn btn-success mb-5" href="/campgrounds/new"
  >Create a New Campground</a
>
<a class="btn btn-primary mb-5" href="/">Back to Home</a>

<% for (let campground of campgrounds){%>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img
        class="img-fluid img-thumbnail"
        alt="campground"
        src="<%=campground.images[0].url%> "
        width="500"
        height="500"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=campground.title %></h5>
        <p class="card-text"><%=campground.description%></p>
        <p class="text-muted"><%=campground.location%></p>
        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%> "
          >View <%=campground.title%></a
        >
      </div>
    </div>
  </div>
</div>

<%}%>
